.list {
  display: flex;
  align-items: center;
  padding: 5px 15px;
}
.paragraph {
  margin-right: 10px;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button {
  background-color: lightslategray;
  border: 1px solid rgba(151, 187, 228, 0.564);
  width: 50px;
  cursor: pointer;
}
